<div class="p-5 mb-4 bg-gray rounded-3 text-center">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">MEAN Authentication App</h1>
    <p>Welcome to our custom MEAN authentication app</p>
    <button class="btn btn-primary btn-lg" type="button" routerLink="/register">
      Register
    </button>
    &nbsp;
    <button class="btn btn-success btn-lg" type="button" routerLink="/login">
      Login
    </button>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">pvgodd의 블로그</h5>
          <h6 class="card-subtitle mb-2 text-muted">김성준</h6>
          <a href="github.com/pvgodd" class="card-link">github</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Android</h5>
          <h6 class="card-subtitle mb-2 text-muted">Download</h6>
          <a href="https://drive.google.com/drive/folders/1BMpYI1lLEbS-dlS6gyGnB12LHupZ1MtR?usp=sharing" class="card-link">APK_Download</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h6 class="card-subtitle mb-2 text-muted">TeamProject</h6>
          <p class="card-text">
            클릭으로 세계여행
          </p>
          <a href="https://team2eytrip.herokuapp.com/" class="card-link">Team2eytrip</a>
          
        </div>
      </div>
    </div>
  </div>
</div>
